{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" /> 
    {% block title %}
    <title>Blog</title>
    {% endblock title %}
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
    <!-- Core theme CSS (includes Bootstrap)-->
    {% comment %} <link rel="stylesheet" href="{% static 'css/styles.css' %}"> {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary ">
        <div class="container">
            <a class="navbar-brand" href="{% url 'post_list' %}">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link active" href="{% url 'post_create' %}">New Post</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{% url 'logout' %}">Logout</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{% url 'dashboard' user.username %}">Dashboard</a></li>
                     {% else %}
                    <li class="nav-item"><a class="nav-link active" href="{% url 'login' %}">Login</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{% url 'register' %}">Register</a></li>
                     {% endif %}
                     <!-- Search Form -->
                {% comment %} <form class="form-inline ms-3 ">
                    <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
                    <input class="btn btn-light my-2 my-sm-0" type="submit" value="Search">
                </form>  {% endcomment %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page header with logo and tagline-->
 <header class="py-3 ">
    </header> 
    <!-- Page content-->
    <div class="container">
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-9">
                <!-- Nested row for non-featured blog posts-->
                <div class="row">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% block content %}
                    {% endblock %}
                </div>
                <!-- Pagination-->
                {% comment %}
                <nav aria-label="Pagination">
                    <hr class="my-0" />
                    <ul class="pagination justify-content-center my-4">
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                        <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                        <li class="page-item"><a class="page-link" href="#!">2</a></li>
                        <li class="page-item"><a class="page-link" href="#!">3</a></li>
                        <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                        <li class="page-item"><a class="page-link" href="#!">15</a></li>
                        <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                    </ul>
                </nav> {% endcomment %}
            </div>
            <!-- Side widgets-->
            <div class=" col-lg-3 ">
                {% block search %}
                
                {% endblock search %}
                <!-- Categories widget-->
                {% block category_list %} 
                {% endblock category_list %}
                
            </div>
        </div>
    </div>
    <!-- Footer-->
    {% comment %} <footer class="py-5 bg-dark" style=" bottom: 0; width: 100%">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p>
        </div>
    </footer> {% endcomment %}
    <!-- Bootstrap core JS-->
    {% comment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script> {% endcomment %}
</body>

</html>