{% extends "base.html" %}
{% block content %}
{% block title %}
<title>Blog | Dashboard</title>
{% endblock title %}
    <h1 class="mb-4">Dashboard for {{view.kwargs.username}}</h1>
    {% if posts %}
    <table class="table">
  <thead>
  </thead>
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              {% comment %} <a class="mr-2" href="{% url 'user_posts' post.author.username %}">{{ post.author }}</a> {% endcomment %}
              <small class="text-muted">{{ post.create_at|date:"F d, Y" }}</small> 
            </div>
          <h2><a class="article-title" href="{% url 'post_detail' post.slug %}">{{ post.title }}</a>
          <a class="btn btn-outline-primary float-right" href="{% url 'post_update' post.slug %}">Edit</a>
          <a class="btn btn-outline-danger float-right mx-2 " href="{% url 'post_delete' post.slug %}">Delete</a></h2><hr>
            {% comment %} <p class="article-content">{{ post.content }}</p> {% endcomment %}
          </div>
        </article>
    {% endfor %}
    {% else %}
<h1 class="mt-5">Let's <a href="{% url 'post_create' %}"> create </a> some posts!</h1> 
    {% endif %}

{% endblock content %}

