{% extends 'shop_base.html' %}


{% block dashbord %}
<header class="w3-container" style="padding-top:22px">
    <div class="border-bottom h2 "><i class="fa fa-shopping-cart"></i> ITEMS</div>
</header>

<div class="container mt-3">
    {% if cart_items %}
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
      <tr style="width: 100%;">
        <th>Name</th>
        <th>Image</th>
        <th>Quantity</th>
        <th>Shop</th>
        <th>Total Price</th>
        <th>Product Price</th>
        <th class="text-center"> Actions</th>
      </tr>
      {% for cart_item in cart_items%}
      <tr>
        <td>{{cart_item.product}}</td>
        <td><img src= {{ cart_item.product.image.url }} style="width:30px;"></td>
        <td>{{cart_item.quantity}}</td>
        <td>{{cart_item.shop}}</td>
        <td>{{cart_item.total_price }}</td>
        <td>{{cart_item.product.final_price }}</td>
        <td class="text-center">
                <a class="btn btn-danger  btn-sm" href="">
                    <i class="fa fa-trash"></i></a>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <div class="w3-panel w3-padding-20 w3-center w3-pale-green w3-round-xxlarge w3-border">
      <h3>No Order Item!</h3>
    </div>
    {% endif %}
  </div>



  {% endblock dashbord %}