{% extends 'shop_base.html' %}
{% load crispy_forms_tags %}

{% block dashbord %}

<header class="w3-container" style="padding-top:22px">
    <div class="border-bottom h2 "><i class="fa fa-shopping-cart"></i> CARTS</div>
</header>

<div class="container mt-3">
    <form class=" border-bottom mb-3">
        <div class="form-row" method="get">
            <div class=" mb-0 form-group col-md-6">
                {{ filter.form.created_at|as_crispy_field }}
            </div>
        </div>
        <button class=" mb-2 btn btn-primary" type="submit">Search</button>
    </form>

    {% if carts %}
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
      <tr>
        <th>Byuer</th>
        <th>Paid</th>
        <th>Items</th>
        <th>Price</th>
        <th class="text-center">Created</th>
          <th class="text-center"> Actions</th>
      </tr>
      {% for cart in carts %}
      <tr>
        <td>{{cart.owner}}</td>
        <td>{% if cart.status == 'P' %}
                <span class="badge badge-success">OK</span> {% else %}
                <span class="badge badge-warning">NO</span> {% endif %}
        </td>
        <td>{{cart.items_count}}</td>
        <td>{{cart.total_price}}</td>
        <td class="text-center">{{cart.created_at|date:'Y-m-d H:i'}}</td>
        <td class="text-center">
                <a class="btn btn-primary btn-sm" href="{% url 'list_cart_item' cart.id %}">
                    <i class="fa fa-eye"></i></a>
                <a class="btn btn-primary btn-sm" href="">
                    <i class="fa fa-pencil"></i></a>
        </td>
      </tr>

      {% endfor %}
    </table>
    {% else %}
    <div class="w3-panel w3-padding-20 w3-center w3-pale-green w3-round-xxlarge w3-border">
      <h3>No Order!</h3>
    </div>
    {% endif %}
  </div>
  {% endblock dashbord %}