{% extends 'shop_base.html' %} {% load static %} {% block dashbord %}


<div class="container mt-3">
    <div class="row border-bottom">
        <img src={{ shop.image.url }} class="py-1 " style="width:150px;">
        <div class=" col col-md-6 ">
            <div class=" mt-5 h3"><i class="far h2 fa-store"></i> {{shop.title}} </div>
            <div class=""><i class=" far fa-tags"></i> {{shop.type}} </div>
        </div>
    </div>
    <h5 class="mt-4 ">Products</h5>
</div>
<div class="container">
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
            <th>Qty</th>
            <th class="" >Available</th>
            <th>Category</th>
            <th class="text-center">Created</th>
            <th class="text-center"> Actions</th>
        </tr>
        {% for product in products%}
        <tr>
            <td > {{product.title}} </td>
            <td>
                <img src={{ product.image.url }} style="width:30px;">
            </td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
            <td class="" >{% if product.is_available == True %}
                <span class=" badge badge-success">OK</span> {% else %}
                <span class="badge badge-warning">No</span> {% endif %}
            </td>
            <td>{{product.category}}</td>
            <td class="text-center">{{ product.created_at|date:'Y-m-d H:i' }}</td>
            <td class="text-center">
                <a class="btn btn-primary btn-sm" href="{% url 'update_product' product.slug %}">
                    <i class="fa fa-pencil"></i></a>
                <a class="btn btn-danger  btn-sm" href="{% url 'delete_product' product.slug %}">
                    <i class="fa fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'create_product' shop.slug %}" class="btn btn-primary">Add Product <i class="fa fa-arrow-right"></i></a>
</div>
<hr> {% endblock dashbord %}