{% extends 'shop_base.html' %} {% block dashbord %}
<!-- Header -->
<header class="w3-container" style="padding-top:22px">
    <div class="border-bottom h2 "><i class="fa fa-store"></i> SHOPS</div>
</header>

<div class="container mt-3">
    {% if shops %}
    <table class="table w3-striped w3-border table-hover w3-white">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Status</th>
            <th class="text-center">Created</th>
            <th class="text-center">Updated</th>
            <th class="text-center">Actions</th>
        </tr>
        {% for shop in shops%}
        <tr>
            <td > <a href="{% url 'shop_detail' shop.slug %}"><b> {{shop.title}}</b> </a> </td>
            <td>{{shop.type}}</td>
            <td>{% if shop.status == 'C' %}
                <span class="badge badge-success">Active</span> {% else %}
                <span class="badge badge-warning">Pending</span> {% endif %}
            </td>
            <td class="text-center">{{ shop.created_at|date:'Y-m-d H:i' }}</td>
            <td class="text-center">{{ shop.updated_at|date:'Y-m-d H:i' }}</td>
            <td class="text-center">
                <a class="btn btn-primary btn-sm" href="{% url 'shop_detail' shop.slug %}">
                    <i class="fa fa-eye"></i></a>
                <a class="btn btn-primary btn-sm" href="{% url 'update_shop' shop.slug %}">
                    <i class="fa fa-pencil"></i></a>
                <a class="btn btn-danger  btn-sm" href="{% url 'delete_shop' shop.slug %}">
                    <i class="fa fa-trash"></i></a>
            </td>
            {% comment %}
            <td><a href="{% url 'shops:edit_shop' shop.slug %}">edit</a></td>
            <td><a href="{% url 'products:list_product_of_shop' shop.slug %}">Info</a></td>
            <td><a href="{% url 'shops:confirm_delete_shop_admin' shop.slug %}">Delete</a></td> {% endcomment %}
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h3>Let's Create Shop</h3>
    {% endif %}
    <br>
    <a href="{% url 'create_shop' %}" class="btn btn-primary ">New Shop  <i class="fa fa-arrow-right"></i></a>
</div>
<hr> {% endblock dashbord %}