{% extends 'adminshop/base.html' %}
{% block dashbordcontent %}
  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
  </header>


  <div class="w3-container">
    <form action="" method="post" >
        {% csrf_token %}
        {{ form.as_p }}

        <p>
            <a href="{% url 'shops:dashboard_admin'%}" class="w3-btn w3-black">Return To Shops List</a>
            <button class="w3-button w3-dark-grey" type="submit">Edit</button>
        </p>
      </form>
  </div>
  <hr>
  


  {% endblock dashbordcontent %}